<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test_Soda.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC1430631DA959580085E27A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC14307F1DA959590085E27A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC14308A1DA959590085E27A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
